@import url('https://fonts.googleapis.com/css?family=Monoton|Montserrat+Alternates|Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

body{
	font-size: 18px;
	font-family: 'Montserrat Alternates', sans-serif;
	animation: gradientBG 15s ease infinite;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	text-align: center;
}

@keyframes gradientBG {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.backgroundGrid{
	display: grid;
	grid-template-columns: 1fr;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  gap: 1em;
}

/* .container > div, header, footer{
	background-color: #eeee;
} */

header{
	grid-column: 1/5;
	text-align: center;
	font-family: 'Orbitron', sans-serif;
}
header h1{
	margin-bottom: 50px;
	font-size: 3rem;
}
.gameScreen{
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: minmax(40px, auto);
	grid-column: 1/5;
	grid-row: 2/9;
	/* row-gap: 1em; */
	background-image: url('Game-Images/background.png');
	background-size: contain;
	border: 3px solid red;
	background-repeat: no-repeat;
	background-position: center;
	background-color: black;
/* 	width: 400px;
	height: 400px; */
}

.instructions{
	display: grid;
	grid-template-columns: 1fr 2fr;
	/* grid-template-rows: minmax(50px,auto); */
	grid-column: 1/5;
	grid-row: 9/11;
	border: 2px dotted black;
}

.about{

	grid-column: 1/5;
	grid-row: 11/15;
	border: 2px dotted black;
}

footer{
	grid-column: 1/5;

}

.instructions h4{
	grid-column: 2;
	/* text-align: center; */
	justify-self: center;
}
.instructions img{
	grid-column: 1;
	grid-row: 2;
	max-height: 300px;
	max-width: 300px;
	justify-self: center;
}

.instructions p{
	grid-column: 2;
	grid-row: 2;

}
.about h4{
	text-align: center;
}

ul{
	list-style: none;
	padding-left: 0;
	/* display: inline; */

}
li{
	display: inline;
}
li a{
	font-size: 1.5rem;
	display: inline;
 	text-align: center;
 	text-decoration: none;
 	color: black;
}

.title{
	font-family: 'Orbitron', sans-serif;
	font-weight: 100;
	font-size: 2rem;
}

.player{
	grid-column: 1;
	grid-row: 1;
	width: 40px;
	height: 20px;
	position: relative;
	left: 20px;
	top: 180px;	
}
.laser{
	grid-column: 1;
	grid-row: 1;
	width: 20px;
	height: 20px;
	position: relative;
}
.enemy{
	position: relative;
	grid-column: 1;
	grid-row: 1;	
}

.fadeOutExplosion{
	opacity: 1;
	transition: opacity 1.5s ease-out;
}
.dead-enemy{
	position: relative;
	grid-column: 1;
	grid-row: 1;	
	opacity: 0;

}

.startButton{
	/* justify-self: center; */
	/* align-self: end; */
/* 	background: url('Game-Images/dead-player.png');
	background-size: auto;
	background-repeat: no-repeat; */


}
.startButtonDiv a{
	text-decoration: none;
}
.start{
	color: #FFFF;
	font-size: 4rem;
	text-shadow:2px 1px 30px #FFFF, 5px 1px 30px #CCCC;
	font-family: 'Orbitron', sans-serif;
	text-align: center;
	grid-row: 1;
	margin-bottom: 0;
	cursor:pointer;
	/* display: inline; */


}

.scoreBoard{
	justify-self: end;
	align-self: end;
	grid-row: 2;
	grid-column: 3;

}
.score{
	color: #FFFF;
	font-size: 3rem;
	margin-bottom: 0;
	margin-right: 10px;
	font-family: 'Orbitron', sans-serif;

}

.healthBoard{
	grid-column: 1;
	grid-row: 2;
	align-self: end;
}
.health{
	color: #FFFF;
	font-size: 3rem;
	margin-bottom: 0;
	margin-left: 10px;
	font-family: 'Orbitron', sans-serif;
}
.middleColumn{
	display: grid;
	grid-template-rows: minmax(10px, auto)
}
/* .snoop{
	grid-column: 0;
	display: none;
} */
.dead-player{
	opacity:0;
}
.deadPLayerImgDiv{
	grid-row: 2;
	align-self: end;
}
.startButtonDiv{
	grid-row: 1;
	align-self: end;
}
.gameOver{
	color: #FFFF;
	text-shadow:2px 1px 30px #FFFF, 5px 1px 30px #CCCC;
	font-family: 'Orbitron', sans-serif;
	text-align: center;
	opacity: 0;
}	
.replay{
	color: #FFFF;
	text-shadow:2px 1px 30px #FFFF, 5px 1px 30px #CCCC;
	font-family: 'Orbitron', sans-serif;
	text-align: center;
	opacity: 0;
	cursor: pointer;
}
.reappear{
	opacity: 1;
	transition: opacity 1.5s ease-out;
}
